In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('csv_converted\saleReprtKmpg_july - SalesReportKPMGAuditResults.csv')

In [10]:
df['Open Balance']

0                  $0.00
1                  $0.00
2                  $0.00
3                  $0.00
4                  $0.00
               ...
382143             $0.00
382144             $0.00
382145             $0.00
382146             $0.00
382147    $14,647,805.54
Name: Open Balance, Length: 382148, dtype: object

In [16]:
df['Open Balance'] = df['Open Balance'].str.replace("Can","")
df['Open Balance'] = df['Open Balance'].str.replace("$","")

C:\Users\skpra\AppData\Local\Temp\ipykernel_23540\3981181411.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Open Balance'] = df['Open Balance'].str.replace("$","")

In [17]:
df[df['Open Balance']!=0]

,Transaction ID,Document Number,Transaction Type,Project ID,Customer,Terms,Currency,Gross Amount,Payment,Open Balance,Transaction Create Date,Document Date,Due Date,Days Open,Service Dates,Payment Receipt Date
0,3190973,CUMC15527,Credit Memo,1277343,CUMC : Columbia University Medical Center - In...,NaN,USA,($145.83),$145.83,0.00,7/31/23 11:02,7/31/2023,NaN,0,07/01/2023 to 07/31/2023,7/30/2023
1,3169041,PCHA15338,Credit Memo,199967,PCHA : Altos Pediatric Associates,NaN,USA,($19.48),$19.48,0.00,7/12/23 16:09,7/30/2023,NaN,0,06/01/2023 to 06/30/2023,6/30/2023
2,3175960,UCI15467,Credit Memo,500340,UCI : Hematology/Oncology,NaN,USA,($38.00),$38.00,0.00,7/17/23 10:17,7/30/2023,NaN,0,03/01/2023 to 04/30/2023,4/30/2023
3,3179766,IMSLLC478536,Invoice,16561,IMSLLC : Castle Medical Center,Net 30,USA,"$1,125.00","$1,125.00",0.00,7/17/23 13:46,7/30/2023,9/3/2023,5,06/25/2023 to 07/09/2023,NaN
4,3184109,HSHS15492,Credit Memo,1611088,HSHS : SPEKE - Family Health Chatham,NaN,USA,"($2,400.00)","$2,400.00",0.00,7/20/23 9:47,7/30/2023,NaN,0,NaN,7/1/2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382143,589622,MPHC1341,Credit Memo,147022,MPHC : Brunswick-Baribeau Drive,NaN,USA,($638.88),$638.88,0.00,9/20/17 12:22,9/10/2017,NaN,0,Scribe Hours 08/25/2017 to 09/09/2017,9/10/2017
382144,590436,LISS100813,Invoice,135186,LISS : Long Island Spine Specialists,Net 30,USA,"$34,192.00","$34,192.00",0.00,9/25/17 10:13,9/10/2017,10/10/2017,246,NaN,NaN
382145,590707,HMA1343,Credit Memo,88328,HMA : Heritage Medical Associates,NaN,USA,"($1,355.89)","$1,355.89",0.00,9/25/17 17:01,9/10/2017,NaN,0,NaN,8/10/2017
382146,573756,STJHH1306,Credit Memo,91788,STJHH : Santa Rosa Memorial Hospital,NaN,USA,"($2,184.00)","$2,184.00",0.00,9/6/17 14:16,9/6/2017,NaN,0,Scribe Hours 08/10/2017 to 08/24/2017,8/25/2017
382147,2147483647,Overall Total,NaN,2147483647,NaN,NaN,NaN,"$1,733,561,434.85","$1,752,309,498.77","14,647,805.54",NaN,NaN,NaN,19200851,NaN,NaN

In [18]:
l = [1,2]

In [ ]:
l.