## Reading libraries

In [76]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, trim, regexp_replace, sum, lit, max, min, first,to_timestamp, trim, upper,to_date, date_format, when
from pyspark.sql.types import DateType

from pyspark.sql.types import IntegerType, FloatType

In [77]:
spark = SparkSession.builder.appName("read_csv").getOrCreate()

In [78]:
spark

# helper functions

In [129]:
from pyspark.sql.functions import udf
from pyspark.sql.types import DateType
from datetime import datetime

# Define a UDF to parse the date string
@udf(DateType())
def parse_date(date_str):
    try:
        return datetime.strptime(date_str, "%m/%d/%Y").date()
    except ValueError:
        return None  # Handle invalid date strings as needed

In [79]:
def change_dtype(dataframe, column_name,change_to):
    return dataframe.withColumn(column_name, col(column_name).cast(change_to))

In [80]:
def remove_illegal_char(dataframe,column_name):
    illegal_character = ['Can','\$',',',"\(","\)"]
    for character in illegal_character:
        dataframe = dataframe.withColumn(column_name, regexp_replace(col(column_name), character, ''))
#                              .withColumn('Open Balance', regexp_replace(col('Open Balance'), 'Can', ''))
    return dataframe

In [81]:
def trim_col(dataframe, column_name):
    return dataframe.withColumn(column_name, trim(col(column_name)))

## Reading CSV

In [82]:
sales_report_kmpg_july=spark.read.options(inferSchema='True').csv('csv_converted\saleReprtKmpg_july - SalesReportKPMGAuditResults.csv', header=True, inferSchema=True, sep=',')

## Cleaning and Transforming

In [83]:
sales_report_kmpg_july.columns

['Transaction ID',
 'Document Number',
 'Transaction Type',
 'Project ID',
 'Customer',
 'Terms',
 'Currency',
 'Gross Amount',
 'Payment',
 'Open Balance',
 'Transaction Create Date',
 'Document Date',
 'Due Date',
 'Days Open',
 'Service Dates',
 'Payment Receipt Date']

In [84]:
object_columns = ['Transaction ID','Document Number','Transaction Type', 'Project ID','Customer','Terms','Currency',]
numeric_columns = ['Gross Amount','Payment','Open Balance','Days Open']
date_columns = ['Transaction Create Date','Document Date','Due Date','Service Dates','Payment Receipt Date']

### Trim column

In [85]:
# sales_report_kmpg_july.show()

In [86]:
# sales_report_kmpg_july = trim_col(sales_report_kmpg_july,column_name='Open Balance')
for column in sales_report_kmpg_july.columns:
    sales_report_kmpg_july = trim_col(sales_report_kmpg_july,column_name=column)

### Remove illegal characters from numeric columns

In [87]:
# sales_report_kmpg_july = remove_illegal_char(sales_report_kmpg_july,column_name='Open Balance')
for column in numeric_columns:
#     print(column)
    sales_report_kmpg_july = remove_illegal_char(sales_report_kmpg_july,column_name=column)
#     print(sales_report_kmpg_july.show(1))

### Change datatype

In [88]:
# sales_report_kmpg_july = sales_report_kmpg_july.withColumn('Open Balance', col('Open Balance').cast('float'))
# for column in date_columns:
#     sales_report_kmpg_july = sales_report_kmpg_july.withColumn(column, col(column).cast(to_timestamp(column)))

In [89]:
sales_report_kmpg_july.dtypes

[('Transaction ID', 'string'),
 ('Document Number', 'string'),
 ('Transaction Type', 'string'),
 ('Project ID', 'string'),
 ('Customer', 'string'),
 ('Terms', 'string'),
 ('Currency', 'string'),
 ('Gross Amount', 'string'),
 ('Payment', 'string'),
 ('Open Balance', 'string'),
 ('Transaction Create Date', 'string'),
 ('Document Date', 'string'),
 ('Due Date', 'string'),
 ('Days Open', 'string'),
 ('Service Dates', 'string'),
 ('Payment Receipt Date', 'string')]

In [90]:
sales_report_kmpg_july.show(1)

+--------------+---------------+----------------+----------+--------------------+-----+--------+------------+-------+------------+-----------------------+-------------+--------+---------+--------------------+--------------------+
|Transaction ID|Document Number|Transaction Type|Project ID|            Customer|Terms|Currency|Gross Amount|Payment|Open Balance|Transaction Create Date|Document Date|Due Date|Days Open|       Service Dates|Payment Receipt Date|
+--------------+---------------+----------------+----------+--------------------+-----+--------+------------+-------+------------+-----------------------+-------------+--------+---------+--------------------+--------------------+
|       3190973|      CUMC15527|     Credit Memo|   1277343|CUMC : Columbia U...| null|     USA|      145.83| 145.83|        0.00|          7/31/23 11:02|    7/31/2023|    null|        0|07/01/2023 to 07/...|           7/30/2023|
+--------------+---------------+----------------+----------+--------------------+-----+--------+------------+-------+------------+-----------------------+-------------+--------+---------+--------------------+--------------------+
only showing top 1 row

## Operation 1:
- 3 lines
    - 1. Open Balance != 0----------------------output ---> temp_df , Sum_Open_Balance
    - 2. Tranasaction Type  == "Credit Memo"----output ----> process_df_result
    - 3. Tranasaction Type  != "Credit Memo"----output-----> temp_df_process_3

### 1. Open Balance != 0 
    - filtering the recored `Open Balance !=0`
    - Adding Column `Outstanding = "Open"`
    - Sum of `Open Balance`

In [91]:
sales_report_kmpg_july.filter(sales_report_kmpg_july['Open Balance'] != '0.00').count()

3948

In [92]:
temp_df = sales_report_kmpg_july.filter(sales_report_kmpg_july['Open Balance'] != '0.00')

In [93]:
print("type of df",type(temp_df), "no of records",temp_df.count())

type of df <class 'pyspark.sql.dataframe.DataFrame'> no of records 3948

#### adding column Outstanding = open

In [94]:
# df_spark.withColumn('year after 2', df_spark['year']+1000).show() refrence
temp_df = temp_df.withColumn('Outstanding', lit('Open'))

In [95]:
temp_df = change_dtype(temp_df, column_name='Open Balance',change_to=FloatType())

In [96]:
Sum_Open_Balance = temp_df.select(sum(col('Open Balance'))).collect()[0][0]
Sum_Open_Balance

29295611.528552473

In [97]:
sales_report_kmpg_july.filter(sales_report_kmpg_july['Open Balance'] != '0.00').select(sum(col('Open Balance')))

DataFrame[sum(Open Balance): double]

#### Output
Sum_Open_Balance, temp_df

In [98]:
print(temp_df.count(),Sum_Open_Balance)

3948 29295611.528552473

### 2. Tranasaction Type  = "Credit Memo"

In [99]:
temp_df_process_2=sales_report_kmpg_july.filter(sales_report_kmpg_july['Transaction Type'] == 'Credit Memo')
print("Input Parameters: ", temp_df_process_2.count())

Input Parameters:  15459

In [100]:
temp_df_process_2 = temp_df_process_2.withColumn('Gross Amount', col('Gross Amount').cast('float'))
temp_df_process_2 = temp_df_process_2.withColumn('Payment', col('Payment').cast('float'))
temp_df_process_2 = temp_df_process_2.withColumn('Days Open', col('Days Open').cast('float'))

In [101]:
groupby_df_process_2 =temp_df_process_2.groupBy(['Transaction ID',"Document Number"])

In [102]:
temp_df_process_2.dtypes

[('Transaction ID', 'string'),
 ('Document Number', 'string'),
 ('Transaction Type', 'string'),
 ('Project ID', 'string'),
 ('Customer', 'string'),
 ('Terms', 'string'),
 ('Currency', 'string'),
 ('Gross Amount', 'float'),
 ('Payment', 'float'),
 ('Open Balance', 'string'),
 ('Transaction Create Date', 'string'),
 ('Document Date', 'string'),
 ('Due Date', 'string'),
 ('Days Open', 'float'),
 ('Service Dates', 'string'),
 ('Payment Receipt Date', 'string')]

In [103]:
#     "Transaction Type": first(col("Transaction Type")),  # Pick the first occurrence of "Payment Type"
#     "Project ID": max(col("Profit"))  # Calculate the maximum profit
#     "Customer": first(col("Customer")),
#     "Terms": first(col("Terms")),
#     "Currency": first(col("Currency")),
#     "Gross Amount": min(col("Gross Amount")),
#     "Payment": max(col("Payment")),
#     "Open Balance": max(col("Open Balance")),
#     "Transaction Create Date": max(col("Transaction Create Date")),
#     "Document Date": max(col("Document Date")),
#     "Due Date": max(col("Due Date")),
#     "Days Open": max(col("Days Open")),
#     "Service Dates": max(col("Service Dates")),
#     "Payment Receipt Date": col("Payment Receipt Date")

In [104]:
agg_exprs = {
    "Transaction Type": 'first',  # Pick the first occurrence of "Payment Type"
    "Project ID": 'first',  # Calculate the maximum profit
    "Customer": 'first',
    "Terms": 'first',
    "Currency": 'first',
    "Gross Amount": 'min',
    "Payment": 'max',
    "Open Balance": 'max',
    "Transaction Create Date": 'max',
    "Document Date": 'max',
    "Due Date": 'max',
    "Days Open": 'max',
    "Service Dates": 'max',
    "Payment Receipt Date": 'first'}

In [105]:
type(first(col("Transaction Type")))

pyspark.sql.column.Column

In [106]:
# groupby_df_process_2.agg(agg_exprs).count()

In [107]:
process_df_result = groupby_df_process_2.agg(agg_exprs)

In [108]:
# column got renamed need to look for other way, there is one commented above but causing some error
for column in process_df_result.columns:
#     print(column)
    new_column = column
    remove_list = ["max","min","(",")","first"]
    for char in remove_list:
#         print(char)
        if char in new_column:
            new_column=new_column.replace(char,"")
    process_df_result=process_df_result.withColumnRenamed(column,new_column)

In [109]:
# process_df_result.columns

In [110]:
process_df_result = process_df_result.withColumn('Outstanding', lit('Cleared'))
process_df_result=process_df_result.withColumn('Applying Link Amount', -col("Payment"))

In [111]:
process_df_result.select(["Transaction ID", "Outstanding","Applying Link Amount"]).show()

+--------------+-----------+--------------------+
|Transaction ID|Outstanding|Applying Link Amount|
+--------------+-----------+--------------------+
|       3191846|    Cleared|              -84.87|
|       3196377|    Cleared|              -243.0|
|       3152869|    Cleared|            -1394.96|
|       3136755|    Cleared|                -0.0|
|       3117490|    Cleared|             -111.29|
|       3119866|    Cleared|            -1397.43|
|       3051990|    Cleared|             -525.98|
|       3034098|    Cleared|              -19.48|
|       2979232|    Cleared|              -119.6|
|       2889570|    Cleared|            -2857.77|
|       2840729|    Cleared|             -1000.0|
|       3195531|    Cleared|                -0.0|
|       3198467|    Cleared|             -446.38|
|       3154622|    Cleared|                -0.0|
|       3114388|    Cleared|               -0.08|
|       3049865|    Cleared|                -0.0|
|       3050589|    Cleared|                -0.0|
|       3037054|    Cleared|             -185.24|
|       3013001|    Cleared|               -0.01|
|       2971297|    Cleared|               -0.17|
+--------------+-----------+--------------------+
only showing top 20 rows

In [112]:
print("Output Result :", process_df_result.count())

Output Result : 14286

### Output : process_df_result

## 3. Tranasaction Type  != "Credit Memo"

In [113]:
sales_report_kmpg_july.count()

382148

In [114]:
sales_report_kmpg_july.select("Transaction Type").distinct().show()

+----------------+
|Transaction Type|
+----------------+
|     Credit Memo|
|         Invoice|
|            null|
+----------------+

In [115]:
temp_df_process_3=sales_report_kmpg_july.filter(sales_report_kmpg_july['Transaction Type'] != 'Credit Memo')
print("Input :", temp_df_process_3.count())

Input : 366688

In [116]:
temp_df_process_3 = temp_df_process_3.withColumn('Customer', upper(trim(col('Customer'))))

In [117]:
temp_df_process_3.select('Customer').count()

366688

In [118]:
temp_df_process_3.filter(col('Transaction Type').like('% %')).select('Transaction Type')

DataFrame[Transaction Type: string]

In [331]:
temp_df_process_3.count()

366688

# customer_payment_history 
customer_payment_history =customer_payment_history.withColumn('Date', date_format(to_date(customer_payment_history['Date'],'M/d/yyyy'),'yyyy-MM-dd' ))

In [319]:
# customer_payment_history.filter(col("payment Date").isNull()).count()
# customer_payment_history.filter(col("Payment Date").rlike(r"^\d{1,2}/\d{1,2}/\d{4}$")).count()
# customer_payment_history.filter(col('Payment Date').like('%1/1/1900%')).select('Payment Date').show()
# customer_payment_history =customer_payment_history.withColumn('Date', to_date(customer_payment_history['Date'],'M/d/yyyy'))
# customer_payment_history =customer_payment_history.withColumn('Date', date_format(to_date(customer_payment_history['Date'],'M/d/yyyy'),'yyyy-MM-dd' ))
# customer_payment_history =customer_payment_history.withColumn('Date', date_format(customer_payment_history['Date'], 'MM/dd/yyyy'))
# customer_payment_history =customer_payment_history.withColumn('Date', to_date(customer_payment_history['Date'],'yyyy-MM-dd' ))
# customer_payment_history = customer_payment_history.fillna('1/1/1900',subset=['Payment Date'])
# customer_payment_history =customer_payment_history.withColumn('Payment Date', to_date(date_format(customer_payment_history['Payment Date'],'yyyy-MM-dd'),'M/d/yyyy' ))
# customer_payment_history = customer_payment_history.withColumn('Document Number', upper(trim(col('Document Number'))))

In [320]:
customer_payment_history = spark.read.options(inferSchema='True').csv('csv_converted\Customer_Payment_history_july.csv', header=True, inferSchema=True, sep=',')

In [321]:
customer_payment_history=customer_payment_history.withColumnRenamed('Currency0','Currency')
customer_payment_history=customer_payment_history.withColumnRenamed('Currency24','Currency2')
customer_payment_history=customer_payment_history.withColumnRenamed('Approved for Email10','Approved for Email')
customer_payment_history=customer_payment_history.withColumnRenamed('Approved for Email44','Approved for Email')

In [322]:
customer_payment_history =customer_payment_history.withColumn('Date', to_date(customer_payment_history['Date'],'M/d/yyyy'))

In [323]:
customer_payment_history =customer_payment_history.withColumn('Payment Date', to_date(customer_payment_history['Payment Date'],'M/d/yyyy'))

In [324]:
customer_payment_history= customer_payment_history.withColumnRenamed("Payment Date", "Payment Date2")

In [325]:
customer_payment_history= customer_payment_history.withColumn("Payment Date", customer_payment_history["Date"])

In [326]:
customer_payment_history.filter((customer_payment_history['Payment Date'] >= "2018-10-01") & (customer_payment_history['Payment Date'] <= "2023-07-31")).count()

315676

# Inner join output of 2 and 3

In [345]:
print( temp_df_process_3.count(),customer_payment_history.count())

366688 315677

In [346]:
process3_paymenthistory_inner = temp_df_process_3.join(customer_payment_history, on='Document Number', how='inner')

In [347]:
process3_paymenthistory_inner.count()

315678

In [348]:
# process3_paymenthistory_inner.tail(1)

In [349]:
process3_paymenthistory_inner = process3_paymenthistory_inner.withColumn('Outstanding', lit('Cleared'))

In [353]:
print(process_df_result.count(), temp_df.count(),process3_paymenthistory_inner.count() )

14286 3948 315678

In [374]:
column_names=set()
for df in [process_df_result, temp_df,process3_paymenthistory_inner]:
    for column in df.columns:
        column_names.add(column)
column_names = list(column_names)

In [375]:
for df in [process_df_result, temp_df,process3_paymenthistory_inner]:
    for column in column_names:
        if column not in df.columns:
            df = df.withColumn(column,lit(None).cast("string"))

In [360]:
process_df_result.columns

['Transaction ID',
 'Document Number',
 'Payment Receipt Date',
 'Terms',
 'Due Date',
 'Days Open',
 'Service Dates',
 'Transaction Type',
 'Currency',
 'Customer',
 'Open Balance',
 'Gross Amount',
 'Payment',
 'Project ID',
 'Document Date',
 'Transaction Create Date',
 'Outstanding',
 'Applying Link Amount']

In [ ]:
temp_df.unionByName

In [376]:
combined_df = temp_df.unionByName(process_df_result)

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 17 columns and the second input has 18 columns.;
'Union false, false
:- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, Payment#4159, cast(Open Balance#4244 as float) AS Open Balance#4489, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#4329, Service Dates#3972, Payment Receipt Date#3989, Open AS Outstanding#4471]
:  +- Filter NOT (Open Balance#4244 = 0.00)
:     +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, Payment#4159, Open Balance#4244, Transaction Create Date#3904, Document Date#3921, Due Date#3938, regexp_replace(Days Open#4312, \), , 1) AS Days Open#4329, Service Dates#3972, Payment Receipt Date#3989]
:        +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, Payment#4159, Open Balance#4244, Transaction Create Date#3904, Document Date#3921, Due Date#3938, regexp_replace(Days Open#4295, \(, , 1) AS Days Open#4312, Service Dates#3972, Payment Receipt Date#3989]
:           +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, Payment#4159, Open Balance#4244, Transaction Create Date#3904, Document Date#3921, Due Date#3938, regexp_replace(Days Open#4278, ,, , 1) AS Days Open#4295, Service Dates#3972, Payment Receipt Date#3989]
:              +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, Payment#4159, Open Balance#4244, Transaction Create Date#3904, Document Date#3921, Due Date#3938, regexp_replace(Days Open#4261, \$, , 1) AS Days Open#4278, Service Dates#3972, Payment Receipt Date#3989]
:                 +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, Payment#4159, Open Balance#4244, Transaction Create Date#3904, Document Date#3921, Due Date#3938, regexp_replace(Days Open#3955, Can, , 1) AS Days Open#4261, Service Dates#3972, Payment Receipt Date#3989]
:                    +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, Payment#4159, regexp_replace(Open Balance#4227, \), , 1) AS Open Balance#4244, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#3955, Service Dates#3972, Payment Receipt Date#3989]
:                       +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, Payment#4159, regexp_replace(Open Balance#4210, \(, , 1) AS Open Balance#4227, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#3955, Service Dates#3972, Payment Receipt Date#3989]
:                          +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, Payment#4159, regexp_replace(Open Balance#4193, ,, , 1) AS Open Balance#4210, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#3955, Service Dates#3972, Payment Receipt Date#3989]
:                             +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, Payment#4159, regexp_replace(Open Balance#4176, \$, , 1) AS Open Balance#4193, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#3955, Service Dates#3972, Payment Receipt Date#3989]
:                                +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, Payment#4159, regexp_replace(Open Balance#3887, Can, , 1) AS Open Balance#4176, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#3955, Service Dates#3972, Payment Receipt Date#3989]
:                                   +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, regexp_replace(Payment#4142, \), , 1) AS Payment#4159, Open Balance#3887, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#3955, Service Dates#3972, Payment Receipt Date#3989]
:                                      +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, regexp_replace(Payment#4125, \(, , 1) AS Payment#4142, Open Balance#3887, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#3955, Service Dates#3972, Payment Receipt Date#3989]
:                                         +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, regexp_replace(Payment#4108, ,, , 1) AS Payment#4125, Open Balance#3887, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#3955, Service Dates#3972, Payment Receipt Date#3989]
:                                            +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, regexp_replace(Payment#4091, \$, , 1) AS Payment#4108, Open Balance#3887, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#3955, Service Dates#3972, Payment Receipt Date#3989]
:                                               +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, regexp_replace(Payment#3870, Can, , 1) AS Payment#4091, Open Balance#3887, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#3955, Service Dates#3972, Payment Receipt Date#3989]
:                                                  +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, regexp_replace(Gross Amount#4057, \), , 1) AS Gross Amount#4074, Payment#3870, Open Balance#3887, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#3955, Service Dates#3972, Payment Receipt Date#3989]
:                                                     +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, regexp_replace(Gross Amount#4040, \(, , 1) AS Gross Amount#4057, Payment#3870, Open Balance#3887, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#3955, Service Dates#3972, Payment Receipt Date#3989]
:                                                        +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, regexp_replace(Gross Amount#4023, ,, , 1) AS Gross Amount#4040, Payment#3870, Open Balance#3887, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#3955, Service Dates#3972, Payment Receipt Date#3989]
:                                                           +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, regexp_replace(Gross Amount#4006, \$, , 1) AS Gross Amount#4023, Payment#3870, Open Balance#3887, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#3955, Service Dates#3972, Payment Receipt Date#3989]
:                                                              +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, regexp_replace(Gross Amount#3853, Can, , 1) AS Gross Amount#4006, Payment#3870, Open Balance#3887, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#3955, Service Dates#3972, Payment Receipt Date#3989]
:                                                                 +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#3853, Payment#3870, Open Balance#3887, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#3955, Service Dates#3972, trim(Payment Receipt Date#3716, None) AS Payment Receipt Date#3989]
:                                                                    +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#3853, Payment#3870, Open Balance#3887, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#3955, trim(Service Dates#3715, None) AS Service Dates#3972, Payment Receipt Date#3716]
:                                                                       +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#3853, Payment#3870, Open Balance#3887, Transaction Create Date#3904, Document Date#3921, Due Date#3938, trim(cast(Days Open#3714 as string), None) AS Days Open#3955, Service Dates#3715, Payment Receipt Date#3716]
:                                                                          +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#3853, Payment#3870, Open Balance#3887, Transaction Create Date#3904, Document Date#3921, trim(Due Date#3713, None) AS Due Date#3938, Days Open#3714, Service Dates#3715, Payment Receipt Date#3716]
:                                                                             +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#3853, Payment#3870, Open Balance#3887, Transaction Create Date#3904, trim(Document Date#3712, None) AS Document Date#3921, Due Date#3713, Days Open#3714, Service Dates#3715, Payment Receipt Date#3716]
:                                                                                +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#3853, Payment#3870, Open Balance#3887, trim(Transaction Create Date#3711, None) AS Transaction Create Date#3904, Document Date#3712, Due Date#3713, Days Open#3714, Service Dates#3715, Payment Receipt Date#3716]
:                                                                                   +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#3853, Payment#3870, trim(Open Balance#3710, None) AS Open Balance#3887, Transaction Create Date#3711, Document Date#3712, Due Date#3713, Days Open#3714, Service Dates#3715, Payment Receipt Date#3716]
:                                                                                      +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#3853, trim(Payment#3709, None) AS Payment#3870, Open Balance#3710, Transaction Create Date#3711, Document Date#3712, Due Date#3713, Days Open#3714, Service Dates#3715, Payment Receipt Date#3716]
:                                                                                         +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, trim(Gross Amount#3708, None) AS Gross Amount#3853, Payment#3709, Open Balance#3710, Transaction Create Date#3711, Document Date#3712, Due Date#3713, Days Open#3714, Service Dates#3715, Payment Receipt Date#3716]
:                                                                                            +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, trim(Currency#3707, None) AS Currency#3836, Gross Amount#3708, Payment#3709, Open Balance#3710, Transaction Create Date#3711, Document Date#3712, Due Date#3713, Days Open#3714, Service Dates#3715, Payment Receipt Date#3716]
:                                                                                               +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, trim(Terms#3706, None) AS Terms#3819, Currency#3707, Gross Amount#3708, Payment#3709, Open Balance#3710, Transaction Create Date#3711, Document Date#3712, Due Date#3713, Days Open#3714, Service Dates#3715, Payment Receipt Date#3716]
:                                                                                                  +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, trim(Customer#3705, None) AS Customer#3802, Terms#3706, Currency#3707, Gross Amount#3708, Payment#3709, Open Balance#3710, Transaction Create Date#3711, Document Date#3712, Due Date#3713, Days Open#3714, Service Dates#3715, Payment Receipt Date#3716]
:                                                                                                     +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, trim(cast(Project ID#3704 as string), None) AS Project ID#3785, Customer#3705, Terms#3706, Currency#3707, Gross Amount#3708, Payment#3709, Open Balance#3710, Transaction Create Date#3711, Document Date#3712, Due Date#3713, Days Open#3714, Service Dates#3715, Payment Receipt Date#3716]
:                                                                                                        +- Project [Transaction ID#3733, Document Number#3751, trim(Transaction Type#3703, None) AS Transaction Type#3768, Project ID#3704, Customer#3705, Terms#3706, Currency#3707, Gross Amount#3708, Payment#3709, Open Balance#3710, Transaction Create Date#3711, Document Date#3712, Due Date#3713, Days Open#3714, Service Dates#3715, Payment Receipt Date#3716]
:                                                                                                           +- Project [Transaction ID#3733, trim(Document Number#3702, None) AS Document Number#3751, Transaction Type#3703, Project ID#3704, Customer#3705, Terms#3706, Currency#3707, Gross Amount#3708, Payment#3709, Open Balance#3710, Transaction Create Date#3711, Document Date#3712, Due Date#3713, Days Open#3714, Service Dates#3715, Payment Receipt Date#3716]
:                                                                                                              +- Project [trim(cast(Transaction ID#3701 as string), None) AS Transaction ID#3733, Document Number#3702, Transaction Type#3703, Project ID#3704, Customer#3705, Terms#3706, Currency#3707, Gross Amount#3708, Payment#3709, Open Balance#3710, Transaction Create Date#3711, Document Date#3712, Due Date#3713, Days Open#3714, Service Dates#3715, Payment Receipt Date#3716]
:                                                                                                                 +- Relation [Transaction ID#3701,Document Number#3702,Transaction Type#3703,Project ID#3704,Customer#3705,Terms#3706,Currency#3707,Gross Amount#3708,Payment#3709,Open Balance#3710,Transaction Create Date#3711,Document Date#3712,Due Date#3713,Days Open#3714,Service Dates#3715,Payment Receipt Date#3716] csv
+- Project [Transaction ID#3733 AS Transaction ID#4675, Document Number#3751 AS Document Number#4692, first(Transaction Type)#4636 AS Transaction Type#4794, first(Project ID)#4642 AS Project ID#4896, first(Customer)#4638 AS Customer#4828, first(Terms)#4632 AS Terms#4726, first(Currency)#4637 AS Currency#4811, min(Gross Amount)#4640 AS Gross Amount#4862, max(Payment)#4641 AS Payment#4879, max(Open Balance)#4639 AS Open Balance#4845, max(Transaction Create Date)#4644 AS Transaction Create Date#4930, max(Document Date)#4643 AS Document Date#4913, max(Due Date)#4633 AS Due Date#4743, max(Days Open)#4634 AS Days Open#4760, max(Service Dates)#4635 AS Service Dates#4777, first(Payment Receipt Date)#4631 AS Payment Receipt Date#4709, Cleared AS Outstanding#4947, -max(Payment)#4641 AS Applying Link Amount#4965]
   +- Aggregate [Transaction ID#3733, Document Number#3751], [Transaction ID#3733, Document Number#3751, first(Payment Receipt Date#3989, false) AS first(Payment Receipt Date)#4631, first(Terms#3819, false) AS first(Terms)#4632, max(Due Date#3938) AS max(Due Date)#4633, max(Days Open#4597) AS max(Days Open)#4634, max(Service Dates#3972) AS max(Service Dates)#4635, first(Transaction Type#3768, false) AS first(Transaction Type)#4636, first(Currency#3836, false) AS first(Currency)#4637, first(Customer#3802, false) AS first(Customer)#4638, max(Open Balance#4244) AS max(Open Balance)#4639, min(Gross Amount#4563) AS min(Gross Amount)#4640, max(Payment#4580) AS max(Payment)#4641, first(Project ID#3785, false) AS first(Project ID)#4642, max(Document Date#3921) AS max(Document Date)#4643, max(Transaction Create Date#3904) AS max(Transaction Create Date)#4644]
      +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4563, Payment#4580, Open Balance#4244, Transaction Create Date#3904, Document Date#3921, Due Date#3938, cast(Days Open#4329 as float) AS Days Open#4597, Service Dates#3972, Payment Receipt Date#3989]
         +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4563, cast(Payment#4159 as float) AS Payment#4580, Open Balance#4244, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#4329, Service Dates#3972, Payment Receipt Date#3989]
            +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, cast(Gross Amount#4074 as float) AS Gross Amount#4563, Payment#4159, Open Balance#4244, Transaction Create Date#3904, Document Date#3921, Due Date#3938, Days Open#4329, Service Dates#3972, Payment Receipt Date#3989]
               +- Filter (Transaction Type#3768 = Credit Memo)
                  +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, Payment#4159, Open Balance#4244, Transaction Create Date#3904, Document Date#3921, Due Date#3938, regexp_replace(Days Open#4312, \), , 1) AS Days Open#4329, Service Dates#3972, Payment Receipt Date#3989]
                     +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, Payment#4159, Open Balance#4244, Transaction Create Date#3904, Document Date#3921, Due Date#3938, regexp_replace(Days Open#4295, \(, , 1) AS Days Open#4312, Service Dates#3972, Payment Receipt Date#3989]
                        +- Project [Transaction ID#3733, Document Number#3751, Transaction Type#3768, Project ID#3785, Customer#3802, Terms#3819, Currency#3836, Gross Amount#4074, Payment#4159, Open Balance#4244, Transaction Create Date#3904, Document Date#3921, Due Date#3938, regexp_replace(Days Open#4278, ,, , 1) AS Days Open#4295, Service Dates#3972, Payment Receipt Date#3989]